body {
  align-content: center;
  background: url('../images/bg-pattern-top-mobile.svg') top/100% no-repeat, url('../images/bg-pattern-bottom-mobile.svg') bottom/100% no-repeat;
  display: grid;
  font-family: var(--ff-normal);
  font-size: var(--fs-normal);
  font-weight: var(--fw-regular);
  padding-top: 5.333em;
  position: relative;

  @media(min-width: 70rem) {
    background: url('../images/bg-pattern-top-desktop.svg') top left/45% no-repeat, url('../images/bg-pattern-bottom-desktop.svg') bottom right/75% no-repeat;
    padding-top: 0;
  }
}

main {
  margin-bottom: 5em;

  @media(min-width: 70rem) {
    margin-bottom: 0;
  }
}

h1 {
  font-size: var(--fs-big);
  font-weight: var(--fw-bold);
  letter-spacing: -0.03em;
  line-height: 1em;
  margin-bottom: 0.75em;

  @media(min-width: 70rem) {
    letter-spacing: -0.04em;
    margin-bottom: 0.33em;
  }
}

.lead {
  letter-spacing: -0.03em;
  line-height: 1.666em;
}

.header {
  margin-bottom: 3.333em;

  @media(min-width: 70rem) {
    margin-bottom: calc(4.666em + 2 * var(--fs-small));
  }
}

.intro {
  color: var(--clr-primary-dark);
  text-align: center;

  @media(min-width: 70rem) {
    max-width: 28rem;
    text-align: left;
  }
}
